<div class="row mt-4 justify-content-center">
  <%= will_paginate articles,
                    renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer,
                    class: "col-sm-8 d-flex justify-content-center pagination-sm" %>

  <ul class="col-sm-8">

    <% articles.each do |article| %>
      <div class="card mt-4 mb-4">

        <div class="card-body">
          <h4 class="card-title"><%= link_to article.title.titlecase, article_path(article) %></h3>
          <p class="card-text"><%= truncate(article.description, length: 100) %></p>
          <small class="text-muted font-italic">
            Created <%= time_ago_in_words(article.created_at) %> ago
            by <%= link_to article.user.username, user_path(article.user) %>,
            last updated: <%= time_ago_in_words(article.updated_at) %>
          </small>
        </div>

        <div class="card-footer">
          <%= render "articles/article_actions", article: article %>
        </div>

      </div>
    <% end %>

  </ul>

  <%= will_paginate articles,
                    renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer,
                    class: "col-sm-8 d-flex justify-content-center pagination-sm" %>
</div>
