<%= render "shared/errors", model: @article %>

<div class="row">
  <div class="col">

    <%= form_for(@article, html: { role: "form" }) do |f| %>
      <div class="form-row justify-content-center">
        <div class="form-group col-sm-6">
          <%= f.label :title, class: "sr-only" %>
          <%= f.text_field :title, class: "form-control", placeholder: "Title", autofocus: true %>
        </div>
      </div>

      <div class="form-row justify-content-center">
        <div class="form-group col-sm-6">
          <%= f.label :description, class: "sr-only" %>
          <%= f.text_area :description, rows: 8, class: "form-control col", placeholder: "Description" %>
        </div>
      </div>

      <div class="form-row justify-content-center">
        <div class="form-group col-sm-6">

          <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
            <div class="form-check form-check-inline">
              <%= cb.check_box(class: "form-check-input") %>
              <%= cb.label(class: "form-check-label") { cb.text } %>
            </div>
          <% end %>

        </div>
      </div>

      <div class="row justify-content-center">
        <%= f.button type: :submit, class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>

<div class="row justify-content-center mt-3 mb-1">
  <div class="col-sm-4 text-center">
    [<%= link_to "Back to articles listing", articles_path  %>]
  </div>
</div>
