<article class="row justify-content-center">

  <header class="article-title col-sm-6 text-center">
    <h1>
      <%= @article.title.titlecase %>
      <small class="article-title__subtitle mt-2 text-muted font-italic">
        by <%= link_to @article.user.username, user_path(@article.user) %>,
        last updated <%= time_ago_in_words(@article.updated_at) %> ago.
      </small>
    </h1>
  </header>

  <section class="mt-3 col-sm-8">
    <div class="card">

      <div class="card-body">
        <p><%= simple_format(@article.description) %></p>
      </div>

      <footer class="card-footer">
        <%= render "categories/article_categories", categories: @article.categories %>
        <%= render "articles/article_actions", article: @article %>
        <%= link_to "View all articles", articles_path, class: "btn btn-sm btn-primary" %>
      </footer>

    </div>
  </section>

</article>
