<section class="row justify-content-center">

  <header class="col-sm-12">
    <h1 class="display-3 text-center">Welcome to <%= @user.username %>'s page</h1>
  </header>

  <section class="mt-3 col-sm-8 text-center">
    <figure>
      <%= gravatar_for @user, size: 150 %>

      <figcaption class="mt-2 font-weight-bold">
        <%= @user.email %>
      </figcaption>
    </figure>
  </section>

  <% if current_user == @user %>
    <section class="mt-2 col-sm-8 d-flex justify-content-center">
      <%= link_to "Edit profile",
                  edit_user_path(@user),
                  class: "btn btn-sm btn-success m-2" %>
    </section>
  <% end %>

</section>

<section class="mt-5">
  <h2 class="display-4 text-center"><%= "#{@user.username}'s articles" %></h2>
  <%= render "articles/articles", articles: @articles %>
</section>
