<!DOCTYPE html>
<html>
<head>
  <title>AlphaBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="d-flex align-items-stretch pt-5">

  <%= render "layouts/navigation" %>

  <div class="container d-flex flex-column align-items-stretch w-100 pt-5">
    <%= render "layouts/messages" %>
    <main class="d-flex flex-column">
      <%= yield %>

      <aside class="align-self-center mt-3">
        <%= debug(params) if Rails.env.development? %>
      </aside>
    </main>

    <%= render "layouts/footer" %>
  </div>

</body>
</html>
